html,
body {
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", Arial, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

#map {
  width: 100vw;
  height: calc(100vh - 60px);
  visibility: hidden;
  overflow: hidden;
}

h1 {
  font-size: 1.5em;
}

h2 {
    font-size: 16px;
    color: black;
}

h3 {
  font-weight: normal;
}

#website, .linkedin{
  display: inline-block;
  padding-right: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.leaflet-container a {
  color: #b92b2e;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.share {
  position: fixed;
  bottom: 10px;
  right: 160px;
  font-size: 20px !important;
  width: 20px;
}

.input{
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

h5 {
    font-size: 11px;
    font-weight: normal;
    /*display: inline-block;*/
}

h6 {
  font-size: 1.2em;
}

.leaflet-popup  .leaflet-zoom-animated {
bottom: 0;
}

.leaflet-popup-tip-container{
  display: none;
}

.intro-popup .leaflet-popup-tip-container {
  width: 0;
  height: 0;
}

.pointer {
  cursor: pointer;
}

.leaflet-control-custom {
  padding: 6px 8px;
  background: white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  color: #333;
  border-radius: 5px;
}

.leaflet-control-geocoder {
  z-index: 9999;
}

form {
  margin-top: 2px;
}

.polygons-legend-scale {
  margin-top: 4px;
  padding-top: 7px;
  border-top: dotted 3px #eee;
}

.polygons-legend-scale i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}

.leaflet-popup-content {
  min-width: 150px;
}

.leaflet-popup-content p{
  display: -webkit-box;
  -webkit-line-clamp: 5; /*to control the overflow*/
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.geojson-point-marker {
  /*radius: 3;*/
}

.loader {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.marker-cluster-small div{
  background-color: rgba(255, 82, 82, 0.6);
}

.marker-cluster-small {
  background-color: rgba(255, 82, 82, 0.2);
}

.marker-cluster-medium div{
  background-color: rgba(172, 4, 4, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(172, 4, 4, 0.2);
}

.marker-cluster-large div{
  background-color: rgba(78, 0, 0, 0.6);
}

.marker-cluster-large{
  background-color: rgba(78, 0, 0, 0.2);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;/* Footer height */
  background-color: black;
  color: white;
  z-index: 2000;
}


/* Technically there are two map titles, on the left and on the right,
 * at all times. On a big screen, map title in the right column is not
 * displayed. On a mobile device, title in the right column is shown with 0
 * opacity, so that search, locate, and zoom buttons do not overlay the title,
 * creating an effect as if the title is located on top, and not the left column.
 */
.leaflet-right .map-title { display: none; }

@media only screen and (max-width: 760px) {
  .leaflet-right .map-title {
    display: block;
    opacity: 0;
  }

  .leaflet-left .map-title {
    width: 98%;
  }
}

#mobile-intro-popup {
  position: absolute;
  bottom: 5vh;
  left: 10vw;
  width: 70vw;
  z-index: 1000;
  background: white;
  padding: 1vh 5vw;
  opacity: 0.9;
  border: 5px #ddd solid;
  border-radius: 5px;
  font-family: "Open Sans", Arial;
}

#mobile-intro-popup p {
  margin: 10px 0 10px 0;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#mobile-intro-popup-close {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 30px;
  background: #bbb;
  color: white;
  font-size: 1.4em;
  text-align: center;
  border-radius: 5px;
  opacity: 0.8;
}

#polygonSelect {
  width: 100%;
}

.polygon-label {
  position: absolute;
  left: -15px;
  color: #444;
  font-weight: bold;
  opacity: 0.9;
  pointer-events: none !important;
}

.color-line {
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 20px;
}

.markers-legend-icon {
  height: 12px;
  vertical-align: middle;
}

.map-title {
  margin-top: 0 !important;
  margin-bottom: 10px;
  max-width: 450px;
}

.leaflet-top.leaflet-left {
  padding-top: 10px;
}

/* Map Table */
div.dataTables_scrollBody {
  border: 0 !important;
}

div.dataTables_scrollHead {
  color: #eee !important;
}

.dataTable * {
  font-family: "Open Sans", Arial;
  border: 0 !important;
}

div.dataTables_scrollHead table.display {
  background-color: #444;
  color: #eee;
}

select {
  font-size: 1.2em;
  font-weight: bold;
}

.div-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

span.legend-arrow {
  color: rgb(172, 4, 4);
  position: absolute;
  right: 8px;
  top: 5px;
}

span.legend-icon {
  color: #bbb;
  margin-right: 5px;
}

.ladder {
  width: 352px;
  margin-top: 0 !important;
  overflow: hidden;
}

.ladder h6.minimize ~ div,
.ladder h6.minimize ~ form,
.ladder h6.minimize ~ section {
  display: none !important;
}

.ladder form, .ladder div {
  display: block;
}

/* DISABLE LEAFLET FOOTER */

.leaflet-control-attribution.leaflet-control {
    display: none;
}

/* ADDED to align table to the left */

.dataTables_wrapper{
  display: inline-block;
  width: 30vw;
  vertical-align:top;
}

#map{
  display: inline-block;
}

.leaflet-container {
    font-size: 11px;
    font-family: "Open Sans";
    line-height: 1.5;
}

.leaflet-popup-content {
    min-width: 260px;
    text-align: left;
}

.popup_header{
  text-align: center;
}

#circle{
  border-radius: 50%;
  object-fit: cover;
  width: 80px;
  height: 80px;
  margin: 5px 0 5px 0;
}



/* OPENING FOOTER */
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0px;
    height: 200px;
    background-color: gray;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
    overflow: scroll;
}

.fTab {
    text-align:center;
    padding-bottom: 15px;
    position: absolute;
    left: 0;
    bottom: 0px;
    padding: 5px;
    padding-top: 10px;
    background-color: black;
    width: 100%;

    -webkit-transition: bottom 0.5s;
    transition: bottom 0.5s;

    z-index: 1000;
    cursor: pointer;
}

.fTab.active {
    bottom: 200px;
}

.fTab.active + footer {
    max-height: 200px;
}

.topbar{
  background-color: lightgrey;
  color: black;
  height: 30px;
}

.navbar{
  background-color: black;
  color: white;
  height: 30px;
}

.map-title.leaflet-bar.leaflet-control.leaflet-control-custom {
    width: 352px;
}

.alumniform {
    text-align: center;
    font-family: Bitter, "PT Serif", Arial, sans-serif;
    padding: 5px;
    background-color: black;
    text-transform: uppercase;
}

a.googleform{
  text-decoration: none;
  color: #c3c3c3;
  font-size: 0.85rem;
}

a.googleform:hover{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a.googleform:visited{
  text-decoration: none;
  color: #c3c3c3;
}

.links {
    position: fixed;
    bottom: 300px;
    left: 15px;
    z-index: 1000;
}

.links li:hover {
  text-decoration: none;
  color: #c3c3c3;
  cursor: pointer;
}

ul {
    margin-left: 0px;
    padding: 0px;
}

.links {
    position: fixed;
    bottom: 50px;
    left: 15px;
    z-index: 1000;
}

.social-share.facebook {
    display: block;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    background-color: white;
    padding: 5px;
    font-family: Open Sans;
    font-weight: 600;
    color: #b92b2e;
    border-radius: 6px;
    font-size: 11px;
    margin-bottom: 5px;
    width: 101px;
}

.social-share.linkedin {
    display: block;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    background-color: white;
    padding: 5px;
    font-family: Open Sans;
    font-weight: 600;
    color: #b92b2e;
    border-radius: 6px;
    font-size: 11px;
    width: 101px;
}

.btn.personalsharebutton {
    border: 0;
    color: #ac0404;
    padding: 0;
    background-color: white;
    cursor: pointer;
    position: absolute;
    right: 19px;
    bottom: 10px;
}

.material-icons.personalshare {
    font-size: 22px;
}

.leaflet-popup.leaflet-zoom-animated {
    margin-bottom: 26px;
}

.iconify {
    width: 22px;
    height: 22px;
    margin-bottom: -4px;
    margin-left: -4px;
}

.desktopquery{
  display: inline-block;
}

.social-share.desktopquery.facebook, .social-share.desktopquery.linkedin{
  display: block;
}

.phonequery, .social-share.phonequery.facebook, .social-share.phonequery.linkedin{
  display: none;
}


/* DELETE LATER */
.imageheaderbig{
  width: 100%;
}

.imageheadersmall{
  display: none;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .imageheaderbig{
    display: none;
  }

  .imageheadersmall{
    display: block;
  }

  .desktopquery, .social-share.desktopquery.facebook, .social-share.desktopquery.linkedin{
    display: none;
  }

  .phonequery{
    display: inline-block;
  }

  .social-share.phonequery.facebook, .social-share.phonequery.linkedin{
    display: block;
    width: 14px;
    height: 17px;
    padding-top: 1px;
  }

  h6{
      font-size: 12px;
      color: #ac0404;
      font-weight: 600;
  }

}

@media screen and (max-width: 460px) {
  .leaflet-popup-content {
    max-width: 240px;
    min-width: 240px;
  }

  #circle{
    width: 50px;
    height: 50px;
  }

  h5 {
      font-size: 10px;
  }

  .ladder {
    width: 77vw;
  }

  .map-title {
    width: 89vw;
  }

  .leaflet-touch .leaflet-control-geocoder {
    margin-top: 10px;
    display: none;
}

.leaflet-right .leaflet-control {
    margin-right: 6px;
}

a.googleform {
    font-size: 11px;
}

  .map-title.leaflet-bar.leaflet-control.leaflet-control-custom {
      width: 89vw;
  }
}
