html,
body {
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", Arial, sans-serif;
}

#map {
  width: 100vw;
  height: 100vh;
  visibility: hidden;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

h5 {
  margin: 0;
  font-size: 1.25em;
  font-weight: normal;
}

h6 {
  margin: 0;
  font-size: 1.2em;
}

.intro-popup .leaflet-popup-tip-container {
  width: 0;
  height: 0;
}

.pointer {
  cursor: pointer;
}

.leaflet-control-custom {
  padding: 6px 8px;
  background: white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  color: #333;
  border-radius: 5px;
}

.leaflet-control-geocoder {
  z-index: 9999;
}

form {
  margin-top: 2px;
}

.polygons-legend-scale {
  margin-top: 4px;
  padding-top: 7px;
  border-top: dotted 3px #eee;
}

.polygons-legend-scale i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}

.leaflet-popup-content {
  min-width: 150px;
}

.geojson-point-marker {
  /*radius: 3;*/
}

.loader {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.marker-cluster-small div{
  background-color: rgba(255, 82, 82, 0.6);
}

.marker-cluster-small {
  background-color: rgba(255, 82, 82, 0.2);
}

.marker-cluster-medium div{
  background-color: rgba(172, 4, 4, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(172, 4, 4, 0.2);
}

.marker-cluster-large div{
  background-color: rgba(78, 0, 0, 0.6);
}

.marker-cluster-large{
  background-color: rgba(78, 0, 0, 0.2);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;/* Footer height */
  background-color: black;
  color: white;
  z-index: 2000;
}


/* Technically there are two map titles, on the left and on the right,
 * at all times. On a big screen, map title in the right column is not
 * displayed. On a mobile device, title in the right column is shown with 0
 * opacity, so that search, locate, and zoom buttons do not overlay the title,
 * creating an effect as if the title is located on top, and not the left column.
 */
.leaflet-right .map-title { display: none; }

@media only screen and (max-width: 760px) {
  .leaflet-right .map-title {
    display: block;
    opacity: 0;
  }

  .leaflet-left .map-title {
    width: 98%;
  }
}

#mobile-intro-popup {
  position: absolute;
  bottom: 5vh;
  left: 10vw;
  width: 70vw;
  z-index: 1000;
  background: white;
  padding: 1vh 5vw;
  opacity: 0.9;
  border: 5px #ddd solid;
  border-radius: 5px;
  font-family: "Open Sans", Arial;
}

#mobile-intro-popup p {
  margin: 10px 0 10px 0;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#mobile-intro-popup-close {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 30px;
  background: #bbb;
  color: white;
  font-size: 1.4em;
  text-align: center;
  border-radius: 5px;
  opacity: 0.8;
}

#polygonSelect {
  width: 100%;
}

.polygon-label {
  position: absolute;
  left: -15px;
  color: #444;
  font-weight: bold;
  opacity: 0.9;
  pointer-events: none !important;
}

.color-line {
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 20px;
}

.markers-legend-icon {
  height: 12px;
  vertical-align: middle;
}

.map-title {
  margin-top: 0 !important;
  margin-bottom: 10px;
  max-width: 450px;
}

.leaflet-top.leaflet-left {
  padding-top: 10px;
}

/* Map Table */
div.dataTables_scrollBody {
  border: 0 !important;
}

div.dataTables_scrollHead {
  color: #eee !important;
}

.dataTable * {
  font-family: "Open Sans", Arial;
  border: 0 !important;
}

div.dataTables_scrollHead table.display {
  background-color: #444;
  color: #eee;
}

select {
  font-size: 1.2em;
  font-weight: bold;
}

.div-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

span.legend-arrow {
  color: rgb(238, 238, 238);
  position: absolute;
  right: 8px;
  top: 5px;
}

span.legend-icon {
  color: #bbb;
  margin-right: 5px;
}

.ladder {
  width: 351px;
  margin-top: 0 !important;
  overflow: hidden;
}

.ladder h6.minimize ~ div,
.ladder h6.minimize ~ form,
.ladder h6.minimize ~ section {
  display: none !important;
}

.ladder form, .ladder div {
  display: block;
}

/* ADDED to align table to the left */

.dataTables_wrapper{
  display: inline-block;
  width: 30vw;
  vertical-align:top;
}

#map{
  display: inline-block;
}

.leaflet-container {
    font-size: 11px;
    font-family: "Open Sans";
    line-height: 1.5;
}

.leaflet-popup-content {
    min-width: 260px;
}

#circle{
  /*border-radius: 50%;*/
  object-fit: cover;
  width: 30%;
  margin: 5px 0 5px 0;
}

h2 {
    font-family: "PT serif", serif;
    font-size: 14px;
    color: #ac0404;
}

h5 {
    margin: 0;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
}


@media screen and (max-width: 460px) {
  h5 {
      font-size: 10px;
  }

  .ladder {
    width: 323px;
  }

  .map-title {
    width: 334px;
  }

  .leaflet-touch .leaflet-control-geocoder {
    margin-top: 365px;
}

  .map-title .leaflet-bar .leaflet-control .leaflet-control-custom {
      width: 322px;
  }
}
